.new_application section[role=main] {
    margin-left: 120px;
    margin-right: 120px;

}
#wrapper {
    overflow: auto;
}
input {
    margin-left: 12px;
    margin-right: 12px;
    padding: 6px;
}
.question_nine {
    display: none;
}
#question_8_other {
    display: none;
}
.asian_row {
    display:none;
}
.hawaiian_pi {
    display: none;
}
.alert {
    display: none;
    color: yellow;
}
.pregnant_condition {
    display:none;
}
.personal_emergency_rows {
    display:none;
}
#persanal_emergency_explain {
    display:none;
}
#other_lang_field {
    display:none;
}
