.draft_application {
    height: 100%;
    width: 100%;
}
table, td{
    border: 1px solid black;
}
.label {
    color: black;
    background-color: gray;
    font-weight:bold;
}
.draft_application section[role=main] {
    margin-left: 120px;
    /*margin-right: 120px;*/
}
#calculator_application_lv {
    width: 308px; /*+18 px to account for scrollbar*/
    height: 632px;
    -ms-grid-column: 1;
}
.splitpage {
    -ms-grid-columns: auto;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}
    .splitpage .articlesection {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        overflow-y: auto;
        padding-right: 120px;
        position: relative;
        z-index: 0;
    }

/*-------------------------------------------------------------------------------------------*/
/* textList-mailFolder - used for Mail folder*/
/*-------------------------------------------------------------------------------------------*/

/* style the background color of the filled-selection style items */
.win-selectionstylefilled :not(.win-footprint).win-container {
    background-color: transparent;
}

.win-selectionstylefilled .win-container.win-swipe:hover {
    background-color: transparent;
}

/* individual item dimensions */
.person {
    width: 100%;
    /*height: 40px;*/
    padding: 4px 10px;
    /*overflow: hidden;*/
}