.draft_application section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}
#calculator_application_lv {
    width: 308px; /*+18 px to account for scrollbar*/
    height: 632px;
}

/*-------------------------------------------------------------------------------------------*/
/* textList-mailFolder - used for Mail folder*/
/*-------------------------------------------------------------------------------------------*/

/* style the background color of the filled-selection style items */
.win-selectionstylefilled :not(.win-footprint).win-container {
    background-color: transparent;
}

.win-selectionstylefilled .win-container.win-swipe:hover {
    background-color: transparent;
}

/* individual item dimensions */
.person {
    width: 100%;
    /*height: 40px;*/
    padding: 4px 10px;
    /*overflow: hidden;*/
}